.hero_text {
    font-weight: 100;
    font-size: 40px;
    letter-spacing: 0.13px;
    line-height: 60px;
    margin: 0;
    
    &.center {
        text-align: center;
    }

    @include mq-mobile
    {
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        text-align: left !important;
    }
}

h2 {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 0.2px;
    
    &.light {
        color: #FFF;
    }
}

h3 {
    font-weight: normal;
    font-size: 24px;
    letter-spacing: 0.17px;
    margin: 0;
}

@mixin paragraph_large {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}
