.section_header
{
    background: #1A1919 url("/images/graphic_left.svg") bottom left no-repeat;
    padding: 118px $site_padding_large 0 $site_padding_large;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    
    h3 {
        font-weight: bold;
        font-size: 42px;
        color: #222222;
        letter-spacing: 0.14px;
        line-height: 49px;
        padding: 16px 22px;
        background: #FFF;
        display: inline-block;
        margin: 0;
    }
    
    .actions {
        display: flex;
        
        a {
            color: #D72F32;
            margin-right: 30px;
            display: flex;
            text-decoration: none;
            
            span:first-of-type {
                text-decoration: underline;
            }
            
            i {
                color: #FFF;
                font-size: 1.5em;
                margin-right: 10px;
            }
        }
    }
    
    @include mq-large-tablet
    {
        background: #1A191A url("http://localhost:5000/images/line.svg") -8px 38px no-repeat;
        padding: 38px $site_padding_small 0 $site_padding_small;
        margin-bottom: 30px;
        background-size: 30px;
        
        h3 {
            font-size: 16px;
            line-height: 24px;
            border-top: 4px solid #D72F32;
            padding: 12px 16px;
        }
        
        .actions {
            position: absolute;
            bottom: -41px;
            left: 20px;
            padding: 0;
            font-size: 14px;

            
            a {
                i {
                    color: #1E1E1E;
                    font-size: 1.25em;
                }
            }
        }
    }
}
