.sponsors
{
    padding-top: 82px;
    
    .list {
        margin-top: 60px;
        margin-bottom: 23px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 27px;
        grid-row-gap: 21px;

        a {
            text-decoration: none;
            background: #F3F3F3;
            height: 193px;
            display: flex;
            align-items: center;
            justify-content: center;

            figure {
                max-width: 80%;
            }

            img {
                max-width: 100%;
                max-height: 88px;
            }

            &.dark {
                background: #484848;
            }
        }
    }
}