{% set sessions = craft.entries.section('session').all() %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if entry.title == "Home Page" %}
    <title>Method Conf 2020 | Developer Conference In Springfield, Missouri</title>
    {% else %}
    <title>Method Conf 2020 | {{ entry.title }}</title>
    {% endif %}

    <link rel="stylesheet" href="/css/styles.css?cb=1" />
    <script src="https://js.tito.io/v1" async></script>
    <meta property="og:title" content="Method Conference - March 5th, 2020 in Springfield, MO">
    <meta property="og:description" content="Method Conference Springfield, MO is an imersive one-day conference with 6 sessions, workshops and keynote with an intense focus on digital development, design, UX, content, code, and more. Giving you perspective to access your skillset and see where things are going next.">
    <meta property="og:image" content="https://staging.methodconf.com/images/method.jpg">
    <meta property="og:site_name" content="Method Conference">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1A1919">
    <meta name="msapplication-TileColor" content="#1A1919">
    <meta name="theme-color" content="#1A1919">
    <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
</head>

<body>
    {% block content %}{% endblock %}

    <footer class="site_footer s_container">
        <section>
            <a href="http://sgfflag.org/" class="flag" target="_blank">
                <img src="/images/sgf_flag.svg" alt="Springfield Flag" />
            </a>
            <p>
                We ❤️ Springfield. <span>©{{ "now"|date("Y") }} Springfield Devs. 501(c)6</span>
            </p>
        </section>

        <section>
            <nav class="social">
                <a href="https://twitter.com/methodconf" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.youtube.com/c/sgfdevs/videos" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="https://github.com/sgfdevs/" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                {#<a href="#"><i class="fab fa-instagram"></i></a>#}
            </nav>
        </section>
    </footer>

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>
