{% extends "base.twig" %}
{% set sessions = craft.entries.section('session').all() %}

{% block content %}
    <header class="site_header">
        <div class="container">
            <div class="intro">
                <a href="/"><img src="/images/method_logo.svg" alt="Method Logo"></a>
                <h1>
                    <time datetime="2020-03-05 08:00">Thursday, March 5th, 2020</time> in Springfield, MO
                </h1>
                <h2>An immersive day of code, content, and design</h2>
            </div>
        </div>

        <div class="skyline">
            <img src="/images/skyline.svg" alt="Skyline Graphic">
            <img src="/images/skyline_mobile.svg" alt="Skyline Graphic">
        </div>
    </header>

    <nav class="site_nav">
        <div class="container">
            <ul>
                <li>
                    <a class="button jump" href="#schedule">Schedule</a>
                </li>
                <li>
                    <a class="button jump" href="#location">Location</a>
                </li>
                <li>
                    <a class="button jump" href="#sponsors">Sponsors</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="intro_signup">
        <section>
            <div class="content">
                <h3>Invest In Yourself and Hone Your Craft</h3>
                <p>
                    Method Conference Springfield, MO is an immersive one-day conference with 6 sessions, workshops and
                    keynote with an intense focus on digital development, design, UX, content, code, and more.
                </p>

                <p>
                    <tito-button event="springfield-devs/method-conference-2020">Tickets Are Sold Out!</tito-button>
                </p>

                <div class="app_store">
                    <a target="_blank" href="https://apps.apple.com/us/app/method-conf/id1498359521">
                        <img src="/images/apple.svg" alt="Apple App Store" />
                    </a>

                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.sgfdevs.methodConfApp">
                        <img src="/images/android.svg" alt="Google Play Store" />
                    </a>
                </div>
            </div>
        </section>

        <section>
            <div class="content">
                <strong>Stay in-the-know about event updates and new speaker announcements.</strong>

                <form action="https://hooks.zapier.com/hooks/catch/5643689/o3hnz8a/" method="post" id="subscribe">
                    <ul>
                        <li>
                            <div class="form_field">
                                <input type="text" name="name" id="name" placeholder="Name" required="required">
                            </div>
                        </li>

                        <li>
                            <div class="form_field">
                                <input type="email" name="email" id="email" placeholder="Email" required="required">
                            </div>
                        </li>

                        <li>
                            <button>Email Signup</button>
                        </li>
                    </ul>
                </form>
            </div>
        </section>
    </div>

    <div class="section_header" id="schedule">
        <div class="tab">
            <h3>Event Schedule</h3>
        </div>
        <div class="actions">
            <a href="#" id="expand_all"><i class="fas fa-expand-alt"></i> <span>Expand Full Schedule</span></a>
            <a href="#" id="collapse_all" style="display: none;"><i class="fas fa-expand-alt"></i> <span>Collapse
                    Schedule</span></a>
            <a title="Add to Calendar" data-styling="none" class="addeventatc" data-id="Xx4231290"
                href="https://www.addevent.com/event/Xx4231290" target="_blank" rel="nofollow"><i
                    class="fas fa-calendar-alt"></i> <span>Add To My Calendar</span></a>
        </div>
    </div>

    <div class="event_schedule s_container">
        <h3 id="schedule_start">Thursday, March 5th, 2020</h3>

        <div class="speaker_card inline">
            <div class="content">
                <time>7:45AM</time>

                <div class="profile mobile">
                    <h4>Check-in/Breakfast</h4>
                    {#<a href="#" class="more">More<i class="fas fa-chevron-down"></i></a>#}
                </div>

                <div class="profile">
                    <div class="titles">
                        <h4>Check-in/Breakfast</h4>
                    </div>

                    {#<a href="#" class="more">More<i class="fas fa-chevron-down"></i></a>#}
                </div>
            </div>

            <div class="more_content">
                <p>
                    <strong>COMING SOON.</strong>
                </p>
            </div>
        </div>

        <div class="speaker_card inline mt">
            <div class="content">
                <time>8:45AM</time>

                <div class="profile mobile">
                    <h4>Welcome Announcements</h4>
                    {#<a href="#" class="more">More<i class="fas fa-chevron-down"></i></a>#}
                </div>

                <div class="profile">
                    <div class="titles">
                        <h4>Welcome Announcement</h4>
                    </div>

                    {#<a href="#" class="more">More<i class="fas fa-chevron-down"></i></a>#}
                </div>
            </div>

            <div class="more_content">
                <p>
                    <strong>COMING SOON.</strong>
                </p>
            </div>
        </div>

        <hgroup>
            <h3>Main Track</h3>
            <h3>Workshop Track</h3>
        </hgroup>

        <div class="session_block">
            {% for session in sessions %}
            {% set speaker = session.speaker.one() %}
                {% include 'speaker_card.twig' %}
            {% endfor %}
        </div>

        <div class="speaker_card inline mt">
            <div class="content">
                <time>5:30PM</time>

                <div class="profile mobile">
                    <h4>Closing Remarks</h4>
                    {#<a href="#" class="more">More<i class="fas fa-chevron-down"></i></a>#}
                </div>

                <div class="profile">
                    <div class="titles">
                        <h4>Closing Remarks</h4>
                    </div>

                    {#<a href="#" class="more">More<i class="fas fa-chevron-down"></i></a>#}
                </div>
            </div>

            <div class="more_content">
                <p>
                    <strong>COMING SOON.</strong>
                </p>
            </div>
        </div>

        <div class="speaker_card inline mt">
            <div class="content">
                <time>5:45PM</time>

                <div class="profile mobile">
                    <h4>After-Party</h4>
                    {#<a href="#" class="more">More<i class="fas fa-chevron-down"></i></a>#}
                </div>

                <div class="profile">
                    <div class="titles">
                        <h4>After-Party</h4>
                    </div>

                    {#<a href="#" class="more">More<i class="fas fa-chevron-down"></i></a>#}
                </div>
            </div>

            <div class="more_content">
                <p>
                    <strong>COMING SOON.</strong>
                </p>
            </div>
        </div>
    </div>

    <div class="section_header" id="location">
        <div class="tab">
            <h3>Location Info</h3>
        </div>
        <div class="actions">
            <a href="https://www.google.com/maps/place/Diamond+Room/@@37.1967782,-93.3269292,17z/data=!3m1!4b1!4m5!3m4!1s0x87cf63c5f16f4069:0xcc2eb9949d21d21b!8m2!3d37.1967782!4d-93.3247405" target="_blank"><i class="fas fa-map-marker-alt"></i> <span>Directions</span></a>
            <a title="Add to Calendar" data-styling="none" class="addeventatc" data-id="Xx4231290" href="https://www.addevent.com/event/Xx4231290" target="_blank" rel="nofollow"><i class="fas fa-calendar-alt"></i> <span>Add To My Calendar</span></a>
        </div>
    </div>

    <div class="location_info s_container">
        <section>
            <div class="map">
                <iframe width="670" height="300" style="border:0;" allowfullscreen=""
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3178.145298203088!2d-93.3269291837616!3d37.19677817986873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87cf63c5f16f4069%3A0xcc2eb9949d21d21b!2sDiamond%20Room!5e0!3m2!1sen!2sus!4v1576297115068!5m2!1sen!2sus"></iframe>
            </div>

            <div class="image_slides">
                <div class="images">
                    <img src="/images/venue/dr_1.jpg" alt="" class="current">
                    <img src="/images/venue/dr_2.jpg" alt="">
                    <img src="/images/venue/dr_3.jpg" alt="">
                    <img src="/images/venue/dr_4.jpg" alt="">
                    <img src="/images/venue/dr_5.jpg" alt="">
                </div>

                <nav>
                    <i class="fas fa-chevron-left previous" data-direction="prev"></i>

                    <ol>
                        <li class="current">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ol>

                    <i class="fas fa-chevron-right next" data-direction="next"></i>
                </nav>
            </div>
        </section>

        <section>
            <dl>
                <dt>Event Location</dt>
                <dd>
                    <a target="_blank" href="https://www.google.com/maps/place/Diamond+Room/@@37.1967782,-93.3269292,17z/data=!3m1!4b1!4m5!3m4!1s0x87cf63c5f16f4069:0xcc2eb9949d21d21b!8m2!3d37.1967782!4d-93.3247405">2340 W Grand St, Springfield, MO 65802</a>
                </dd>

                <dt>Airport</dt>
                <dd>
                    <a target="_blank" href="https://www.google.com/search?sxsrf=ACYBGNSIJnJ9fANBIXJ8iPyIeWcQrJnrjQ:1578303940210&ei=NQETXqu0ApX5tAampb9w&q=springfield%20mo%20airport&oq=springfield+mo+ai&gs_l=psy-ab.3.0.35i39j0l9.136696.141324..142200...3.1..1.282.2063.12j4j2......0....1..gws-wiz.......0i71j0i67j0i131i67j0i131j0i20i263.iBHa1nI-EpA&npsic=0&rflfq=1&rlha=0&rllag=37234203,-93320737,6892&tbm=lcl&rldimm=16755750603370321811&lqi=ChZzcHJpbmdmaWVsZCBtbyBhaXJwb3J0SKbDxANaKQoHYWlycG9ydBACGAAYARgCIhZzcHJpbmdmaWVsZCBtbyBhaXJwb3J0&ved=2ahUKEwijq9Ct2O7mAhWNXc0KHcxBATQQvS4wAHoECAcQGA&rldoc=1&tbs=lrf:!1m4!1u2!2m2!2m1!1e1!1m4!1u16!2m2!16m1!1e1!1m4!1u16!2m2!16m1!1e2!1m5!1u15!2m2!15m1!1shas_1wheelchair_1accessible_1entrance!4e2!2m1!1e2!2m1!1e16!3sIAE,lf:1,lf_ui:2&rlst=f#rlfi=hd:;si:16755750603370321811,l,ChZzcHJpbmdmaWVsZCBtbyBhaXJwb3J0SKbDxANaKQoHYWlycG9ydBACGAAYARgCIhZzcHJpbmdmaWVsZCBtbyBhaXJwb3J0;mv:[[37.2521646,-93.2347277],[37.111537399999996,-93.40674700000001]];tbs:lrf:!1m4!1u2!2m2!2m1!1e1!1m4!1u16!2m2!16m1!1e1!1m4!1u16!2m2!16m1!1e2!2m1!1e2!2m1!1e16!3sIAE,lf:1,lf_ui:2">2300 N Airport Blvd, Springfield, MO 65802</a>
                </dd>

                <dt>Transportation</dt>
                <dd>
                    <a target="_blank" href="https://www.uber.com/global/en/cities/springfield-mo/">Uber</a> <br>
                    <a target="_blank" href="https://www.lyft.com/rider/cities/springfield-mo">Lyft</a> <br>
                    <a target="_blank" href="https://www.facebook.com/pg/springfieldyellowcabcompany/about/?ref=page_internal">Yellow Cab</a> <br>
                    <a target="_blank" href="https://royaltaxispringfield.wixsite.com/royalservice">Royal Taxi</a> <br>
                    <a target="_blank" href="https://locations.greyhound.com/bus-stations/us/mo/springfield/bus-station-590975">Greyhound</a>
                </dd>

                <dt>Nearby Hotels</dt>
                <dd>
                    <a target="_blank" href="https://www.hilton.com/en/hotels/sgfmogi-hilton-garden-inn-springfield-mo/">Hilton Garden Inn</a>
                    <a target="_blank" href="https://www.hotelvandivort.com/">Hotel Vandivort</a> <br>
                    <a target="_blank" href="https://www.marriott.com/hotels/travel/sgfts-towneplace-suites-springfield/">TownePlace Suites by Marriott Springfield</a> <br>
                    <a target="_blank" href="https://doubletree3.hilton.com/en/hotels/missouri/doubletree-by-hilton-hotel-springfield-SGFDTDT/index.html">DoubleTree by Hilton</a>
                </dd>

                <dt>Parking</dt>
                <dd class="notice">
                    <p>
                        There is free on-site parking at the event location.
                    </p>
                </dd>

                <dt>Favorite SGF Restaurants </dt>
                <dd>
                    <a target="_blank" href="https://www.houlihans.com/my-houlihans/springfield-(republic-rd)">Houlihans</a> <br>
                    <a target="_blank" href="https://www.bawikbbq.com/home">Bawi Korean BBQ</a> <br>
                    <a target="_blank" href="https://www.arrispizzapalace.com/untitled-c2hu">Arris Pizza</a> <br>
                    <a target="_blank" href="https://www.greekbelly.com/">Greek Belly</a> <br>
                    <a target="_blank" href="https://springfieldprogress.com/">Progress</a> <br>
                    <a target="_blank" href="https://www.vangoghseeterie.com/">Van Gogh's Eeterie</a>
                </dd>
            </dl>
        </section>
    </div>

    {% include 'sponsors.twig' %}

    <div class="code_of_conduct">
        <div class="content">
            <section>
                <h3>Code of Conduct</h3>
                <p>
                    All attendees, speakers, sponsors and volunteers at our conference are required to agree with the
                    following code of conduct. Organizers will enforce this code throughout the event. We expect
                    cooperation from all participants to help ensure a safe environment for everybody.
                </p>

                <a href="/code-of-conduct" class="button">Read It</a>
            </section>

            <section>
                <h3>Transparent Finances</h3>
                <p>
                    Conferences costs money, and we are fully committed to being transparent with our finances to our sponsors and attendees.
                </p>

                <a href="https://github.com/sgfdevs/treasurer" class="button" target="_blank">See It On Github</a>
            </section>
        </div>
    </div>
{% endblock %}
