    <div class="intro_signup">
        <section>
            <div class="content">
                <h3>Invest In Yourself and Hone Your Craft</h3>
                <p>
                    Method Conference Springfield, MO is an emersive one-day conference with 6 sessions, workshops and
                    keynote with an intense focus on digital development, design, UX, content, code, and more. Giving
                    you perspective to access your skillset and see where things are going next.
                </p>
            </div>
        </section>

        <section>
            <div class="content">
                <strong>Stay in-the-know about event updates, new speakers and exclusive offers from our
                    sponsors.</strong>

                <form action="" id="subscribe">
                    <ul>
                        <li>
                            <div class="form_field">
                                <input type="text" name="name" id="name" placeholder="Name" required="required">
                            </div>
                        </li>

                        <li>
                            <div class="form_field">
                                <input type="email" name="email" id="email" placeholder="Email" required="required">
                            </div>
                        </li>

                        <li>
                            <button>Email Signup</button>
                        </li>
                    </ul>
                </form>
            </div>
        </section>
    </div>

    <div class="section_header" id="schedule">
        <div class="tab">
            <h3>Event Schedule</h3>
        </div>
        <div class="actions">
            <a href="#" id="expand_all"><i class="fas fa-expand-alt"></i> <span>Expand Full Schedule</span></a>
            <a href="#" id="collapse_all" style="display: none;"><i class="fas fa-expand-alt"></i> <span>Collapse
                    Schedule</span></a>
            <a title="Add to Calendar" data-styling="none" class="addeventatc" data-id="Xx4231290"
                href="https://www.addevent.com/event/Xx4231290" target="_blank" rel="nofollow"><i
                    class="fas fa-calendar-alt"></i> <span>Add To My Calendar</span></a>
        </div>
    </div>

    <div class="event_schedule s_container">
        <h3 id="schedule_start">Thursday, March 5th, 2020</h3>

        <div class="speaker_card inline">
            <div class="content">
                <time>7:00AM–8:00AM</time>

                <div class="profile mobile">
                    <h4>Attendee Check-in/Badge Pick-up</h4>
                    <a href="#" class="more">More<i class="fas fa-chevron-down"></i></a>
                </div>

                <div class="profile">
                    <div class="titles">
                        <h4>Attendee Check-in/Badge Pick-up</h4>
                    </div>

                    <a href="#" class="more">More<i class="fas fa-chevron-down"></i></a>
                </div>
            </div>

            <div class="more_content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae debitis dicta ea error et
                    facilis fuga illum impedit incidunt ipsum iste non quidem quod repellendus, sequi totam unde? Culpa.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae debitis dicta ea error et
                    facilis fuga illum impedit incidunt ipsum iste non quidem quod repellendus, sequi totam unde? Culpa.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid beatae debitis dicta ea error et
                    facilis fuga illum impedit incidunt ipsum iste non quidem quod repellendus, sequi totam unde? Culpa.
                </p>
            </div>
        </div>

        <hgroup>
            <h3>Main Track</h3>
            <h3>Workshop Track</h3>
        </hgroup>

        <div class="session_block">
            {% for session in sessions %}
            {% set speaker = session.speaker.one() %}
            <div class="speaker_card">
                <time>{{ session.timeLabel }}</time>

                <div class="profile mobile">
                    <h4>{{ session.title }}</h4>
                    <a href="#" class="more">More<i class="fas fa-chevron-down"></i></a>
                </div>

                <div class="profile">
                    {% if speaker|length and speaker.image.exists() %}
                    {% set speakerImage = speaker.image.one() %}
                    <img src="{{ speakerImage.url }}" alt="{{ speaker.title }}">
                    {% endif %}

                    <div class="titles">
                        <h4>{{ session.title }}</h4>

                        {% if speaker|length %}
                        <a href="#">{{ speaker.title }}</a>
                        <span>{{ speaker.professionalTitle }}</span>
                        {% endif %}
                    </div>

                    <a href="#" class="more">More<i class="fas fa-chevron-down"></i></a>
                </div>

                <div class="more_content">
                    {% if session.description %}
                    {{ session.description }}
                    {% else %}
                    <p>
                        <strong>COMING SOON</strong>
                    </p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="section_header" id="location">
        <div class="tab">
            <h3>Location Info</h3>
        </div>
        <div class="actions">
            <a href="https://www.google.com/maps/place/Diamond+Room/@@37.1967782,-93.3269292,17z/data=!3m1!4b1!4m5!3m4!1s0x87cf63c5f16f4069:0xcc2eb9949d21d21b!8m2!3d37.1967782!4d-93.3247405"
                target="_blank"><i class="fas fa-map-marker-alt"></i> <span>Directions</span></a>
            <a title="Add to Calendar" data-styling="none" class="addeventatc" data-id="Xx4231290"
                href="https://www.addevent.com/event/Xx4231290" target="_blank" rel="nofollow"><i
                    class="fas fa-calendar-alt"></i> <span>Add To My Calendar</span></a>
        </div>
    </div>

    <div class="location_info s_container">
        <section>
            <div class="map">
                <iframe width="670" height="300" style="border:0;" allowfullscreen=""
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3178.145298203088!2d-93.3269291837616!3d37.19677817986873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87cf63c5f16f4069%3A0xcc2eb9949d21d21b!2sDiamond%20Room!5e0!3m2!1sen!2sus!4v1576297115068!5m2!1sen!2sus"></iframe>
            </div>

            <div class="image_slides">
                <div class="images">
                    <img src="/images/diamond_room_1.jpg" alt="">
                </div>

                <nav>
                    <i class="fas fa-chevron-left previous"></i>

                    <ol>
                        <li class="current">1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ol>

                    <i class="fas fa-chevron-right next"></i>
                </nav>
            </div>
        </section>

        <section>
            <dl>
                <dt>Event Location</dt>
                <dd>
                    <a href="#">2340 W Grand St, Springfield, MO 65802</a>
                </dd>

                <dt>Airport</dt>
                <dd>
                    <a href="#">2300 N Airport Blvd, Springfield, MO 65802</a>
                </dd>

                <dt>Transportation</dt>
                <dd>
                    <a href="#">Uber</a> <br>
                    <a href="#">Yellow Cab</a> <br>
                    <a href="#">Royal Taxi</a> <br>
                    <a href="#">Greyhound</a>
                </dd>

                <dt>Near By Hotels</dt>
                <dd>
                    <a href="#">Springhill Suites by Marriot</a> <br>
                    <a href="#">Hotel Vanidvort</a> <br>
                    <a href="#">DoubleTree by Hilton</a>
                </dd>

                <dt>Parking</dt>
                <dd class="notice">
                    <p>
                        There is free on-site parking at the event location.
                    </p>
                </dd>

                <dt>Favorite SGF Restuarants </dt>
                <dd>
                    <a href="#">Bawi Korean BBQ</a> <br>
                    <a href="#">Greek Belly</a> <br>
                    <a href="#">Social on Patton</a> <br>
                    <a href="#">Van Gogh's Eeterie</a>
                </dd>
            </dl>
        </section>
    </div>

    <div class="section_header" id="sponsors">
        <div class="tab">
            <h3>Sponsors</h3>
        </div>
    </div>


    <div class="sponsors s_container">
        <h4 class="hero_text center">Method Conference Springfield, MO 2020 is proud to be sponsored by:</h4>

        <div class="list">
            <a href="#" class="dark">
                <figure>
                    <img src="/images/sponsors/pluralsight.png" alt="Pluralsight">
                </figure>
            </a>

            <a href="#">
                <figure>
                    <img src="/images/sponsors/infragistics.png" alt="infragistics">
                </figure>
            </a>

            <a href="#">
                <figure>
                    <img src="/images/sponsors/jetbrains.png" alt="jetbrains">
                </figure>
            </a>

            <a href="#">
                <figure>
                    <img src="/images/sponsors/oreilly.png" alt="oreilly">
                </figure>
            </a>

            <a href="#">
                <figure>
                    <img src="/images/sponsors/google.png" alt="google">
                </figure>
            </a>

            <a href="#">
                <figure>
                    <img src="/images/sponsors/firefox.png" alt="firefox">
                </figure>
            </a>
        </div>

        <div class="sponsor_banner">
            <img src="/images/method_logo.svg" alt="Method Conf Logo" />
            <h2 class="light">Interested in becoming a sponsor?</h2>
            <a href="#" class="button">See Opportunities</a>
        </div>
    </div>

    <div class="code_of_conduct">
        <div class="content">
            <section>
                <h3>Code of Conduct</h3>
                <p>
                    All attendees, speakers, sponsors and volunteers at our conference are required to agree with the
                    following code of conduct. Organisers will enforce this code throughout the event. We expect
                    cooperation from all participants to help ensure a safe environment for everybody.
                </p>

                <a href="#" class="button">Read It</a>
            </section>

            <section>
                <h3>Transparent Finances</h3>
                <p>
                    We are interested in putting on a hell of an event for developers and aspiring devs near and far. To
                    attract top notch speakers and host it at a cool location, everything cost money. We don’t do this
                    to pocket fat stacks so we are publishing our books to embrace the transparency that affords.
                </p>

                <a href="#" class="button">See It On Github</a>
            </section>
        </div>
    </div>