<div class="section_header" id="sponsors">
    <div class="tab">
        <h3>Sponsors</h3>
    </div>
</div>

<div class="sponsors s_container">
    <h4 class="hero_text center">Method Conference Springfield, MO 2020 is proud to be sponsored by:</h4>

    <div class="list">
        <a href="#" class="dark">
            <figure>
                <img src="/images/sponsors/pluralsight.png" alt="Pluralsight">
            </figure>
        </a>

        <a href="#">
            <figure>
                <img src="/images/sponsors/infragistics.png" alt="infragistics">
            </figure>
        </a>

        <a href="#">
            <figure>
                <img src="/images/sponsors/jetbrains.png" alt="jetbrains">
            </figure>
        </a>

        <a href="#">
            <figure>
                <img src="/images/sponsors/oreilly.png" alt="oreilly">
            </figure>
        </a>

        <a href="#">
            <figure>
                <img src="/images/sponsors/google.png" alt="google">
            </figure>
        </a>

        <a href="#">
            <figure>
                <img src="/images/sponsors/firefox.png" alt="firefox">
            </figure>
        </a>
    </div>

    <div class="sponsor_banner">
        <img src="/images/method_logo.svg" alt="Method Conf Logo" />
        <h2 class="light">Interested in becoming a sponsor?</h2>
        <a href="#" class="button">See Opportunities</a>
    </div>
</div>