{% set sponsors = craft.entries.section('sponsors').all() %}

<div class="section_header" id="sponsors">
    <div class="tab">
        <h3>Sponsors</h3>
    </div>
</div>

<div class="sponsors s_container">
    <h4 class="hero_text center">Method Conference Springfield, MO 2020 is proud to be sponsored by:</h4>

    <div class="list">
        {% for sponsor in sponsors %}
            <a href="{{ sponsor.websiteUrl }}" class="{{ sponsor.sponsorBackground }}" target="_blank">
                {% if sponsor.sponsorImage.exists() %}
                    {% set sponsorImage = sponsor.sponsorImage.one() %}
                    <figure>
                        <img src="{{ sponsorImage.url }}" alt="{{ sponsor.title }}">
                    </figure>
                {% endif %}
            </a>
        {% endfor %}
    </div>

    <div class="sponsor_banner">
        <img src="/images/method_logo.svg" alt="Method Conf Logo" />
        <h2 class="light">Interested in becoming a sponsor?</h2>
        <a href="https://drive.google.com/open?id=1c0YzunFZtql2VS2mlT0JLawdphNsTdun" class="button" target="_blank">See Opportunities</a>
    </div>
</div>
